@charset "utf-8";
@import "siteWide";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

// NAVIGATION LINKS
.icon i {
  color: $grey;
}

.icon i:hover {
  color: $grey-dark;
}

#menu-links {
  text-align: right;
}

#menu-links a {
  color: $grey;
}

#menu-links a:hover {
  color: $grey-dark;
}

// HOME PAGE
$sedona-orange: #ffd9a3;
$sunset-pink: #fea283;
$primary-home: $sunset-pink;
.home {
  background-image: url("../photography/DSC01336-Pano.jpg");
  background-size: cover;
  background-position: center;

  -webkit-animation: fadein 2s ; /* Chrome, Safari, Opera */
  animation: fadein 2s ;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
/* Standard syntax */
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.home-text {
  color: $sedona-orange;
}

.button.is-sedona {
  border-color: $sedona-orange;
  background-color: rgba(0, 0, 0, 0);
  color: $sedona-orange
}
.button.is-sedona:hover {
  border-color: $sedona-orange;
  background-color: $sedona-orange;
  color: rgba(0, 0, 0, 0.7)
  
}

// GRID
#project-grid {
  margin: 0 -6px 0 -6px;
}

.element-item {
  width: 25%;
  padding: 0 6px 12px 6px;
}

.card {
  border: 0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin: 1px;
}

.card:hover {
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.project-link, .display-tag {
  cursor: pointer;
}

#project-title:hover {
  color: $blue;
}

// PROJECT POPUP
.modal-project {
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
  will-change: scroll-position;
}

$animation_duration: 0.5s;
.modal-project-background {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  -webkit-transition-duration: $animation_duration;
  transition-duration: $animation_duration;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.modal-project.loading .modal-project-background {
  opacity: 0;
}

.modal-project-content {
  -webkit-transition-duration: $animation_duration;
  transition-duration: $animation_duration;
  margin: 20px 15%;
  position: relative;
}

.modal-project.loading .modal-project-content {
  -webkit-transform: translate(0, 100vh);
  transform: translate(0, 100vh);
  opacity: 0;
}

#project {
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.2);
}

#close_project {
  position: absolute;
  margin: 25px;
  z-index: 999;
}

// AUTOCOMPLETE
#tag-filters {
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  width: 50%;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding-left: 0.5rem;
}

#tag-filters .tag {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

#tag-filters:hover {
  border-color: #EDEDEDED;
}

#tagsInput {
  height: 2.5rem;
  border-width: 0;
  box-shadow: none;
  padding: 0;
}

#tagsInput:focus {
  outline: 0;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  flex-grow: 1;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: $blue !important;
  color: #ffffff;
}

.autocomplete-active strong {
  color: #ffffff;
}

// MOBILE STUFF
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .element-item {
    width: 100%;
  }
  .media-content {
    overflow-x: visible;
  }
  .modal-project-content {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 5%;
  }
  #close_project {
    margin-right: 25px;
  }
  #tag-filters {
    width: 100%;
  }
  #menu-links {
    text-align: left;
  }
}

