@charset "utf-8";
@import "siteWide";

.icon i {
  color: $grey;
}
.icon i:hover {
  color: $grey-dark;
}
#menu-links {
  text-align: right;
}
#menu-links a {
  color: $grey;
}
#menu-links a:hover {
  color: $grey-dark;
}

// Navigation stuff
.icon i {
  color: $grey;
}
.icon i:hover {
  color: $grey-dark;
}

// Grid
#project-grid {
  margin: 0 -6px 0 -6px;
}
.element-item {
  width: 25%;
  padding: 0 6px 12px 6px;
  //padding: 12px;
}
.card {
  border: 0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin: 1px;
}
.card:hover {
  box-shadow: 0 5px 50px 0 rgba(0,0,0,0.2);
  transform: scale(1.01);
}
#project_box {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  border-radius: 25px;
  overflow: hidden;
  padding: 0;
  margin: 20px 20%;
}

.project-link, .display-tag {
  cursor: pointer;
}

#project-title:hover {
  color: $blue;
}

#project_box.loading {
  -webkit-transform: translate(0,100vh);
  transform: translate(0, 100vh);
}
#project {
  background-color: white;
}
#close_project {
  position: absolute;
  margin: 10px;
}

#blur {
  padding: 0;
  position: fixed;
  overflow-y: scroll;
  top: 0; right: 0; bottom: 0; left: 0;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: none;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  opacity: 1;
}
#blur.loading {
  opacity: 0;
}

// AUTOCOMPLETE
#tag-filters {
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  width: 50%;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding-left: 0.5rem;
}
#tag-filters .tag {
  margin: 0.5rem 0.5rem 0.5rem 0;
}
#tag-filters:hover {
  border-color: #EDEDEDED;
}
#tagsInput {
  height: 2.5rem;
  border-width: 0;
  box-shadow: none;
  padding: 0;
}
#tagsInput:focus {
  outline: 0;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  flex-grow: 1;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: $blue !important;
  color: #ffffff;
}
.autocomplete-active strong {
  color: #ffffff;
}

@import "../bulma/bulma.sass";

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .element-item {
    width: 100%;
  }
  .media-content {
    overflow-x: visible;
  }
  #project_box {
    margin: 20px 5%;
  }
  #tag-filters {
    width: 100%;
  }
  #menu-links {
    text-align: left;
  }
}

