.pswp__bg {
    background: #fff;
}

.image {
    background-color: rgb(217, 217, 217);
}

.stacked-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stacked-images .image {
    margin-bottom: 1.5rem;
}

.stacked-images .image:last-child {
    margin-bottom: 0;
}

.cropped-image-container {
    height: 100%;
}

.cropped-image-container img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

// START experimental photo-columns

.is-white {
    color: white;
}

.photo-row {
    width: 100%;
    height: 130px;
    /* Adjust height as needed */
    padding: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    /* Optional: change cursor to pointer on hover */
    transition: all 0.5s ease-in-out;

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    /* Aligns children vertically in the center */
    justify-content: space-between;
    /* Optional: horizontal alignment */
}

.photo-row h1 {
    padding-left: 5%;
}

.photo-row:hover {
    height: 170px;
}

// END experimental photo-columns