@charset "utf-8";

#project_info {
  padding: 24px;
}

#project_info p {
  margin-bottom: 1em;
}

#project_info h2 {
  margin-bottom: 0.2em;
}

.carousel-cell {
  width: 80%;
  margin: 0 20%;
}

.flickity-button {
  background: hsla(0, 0, 40%, 0.3);
}

.flickity-button:hover {
  background: hsla(0, 0, 40%, 0.6);
}



